/* Container */
div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    padding: 64px 0;
}

/* Hero */
section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

section#hero h1 {
    text-align: center;
    background: var(--brand-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 1024px;
}

section#hero h3 {
    text-align: center;
    width: 640px;
}

/* Form */
section#define-product-backlog-item-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 1024px;
}

div.error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 3px var(--error);
    border-radius: 8px;
    gap: 16px;
    padding: 16px 24px;
}

div.error-message p {
    color: var(--error);
}

div.error-message div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section#define-product-backlog-item-form div.input-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

section#define-product-backlog-item-form div.label-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section#define-product-backlog-item-form input {
    border-radius: 8px;
    background-color: var(--black10);
    width: 100%;
    padding: 24px;
    height: 75px;
}

section#define-product-backlog-item-form textarea {
    border-radius: 8px;
    background-color: var(--black10);
    width: 100%;
    padding: 24px;
    height: 256px;
}

div.submit-go-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 512px;
}

section#define-product-backlog-item-form button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--primary-color);
    padding: 16px 24px;
    width: 100%;
    color: var(--white);
    box-shadow: 0 4px 24px rgb(196, 196, 196);
}

section#define-product-backlog-item-form button img {
    width: 32px;
    height: 32px;
}

section#define-product-backlog-item-form button:hover {
    gap: 8px;
}

div.submit-go-back > p {
    text-align: center;
}

div.submit-go-back > p a {
    color: var(--primary-color);
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    div.container {
        gap: 96px;
        padding: 48px 0;
    }

    section#hero {
        gap: 24px;
    }

    section#hero img {
        width: 64px;
        height: 64px;
    }

    section#hero h1 {
        width: 600px;
    }

    section#hero h3 {
        width: 512px;
    }

    section#define-product-backlog-item-form form {
        gap: 48px;
        width: 512px;
    }

    div.error-message img {
        height: 24px;
    }

    section#define-product-backlog-item-form textarea {
        height: 194px;
    }

    div.submit-go-back {
        width: 256px;
    }

    section#define-product-backlog-item-form button img {
        width: 24px;
        height: 24px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    div.container {
        gap: 64px;
        padding: 32px 16px;
    }

    section#hero {
        gap: 16px;
    }

    section#hero h1,
    section#hero h3 {
        width: 100%;
    }

    section#define-product-backlog-item-form {
        width: 100%;
    }

    section#define-product-backlog-item-form form {
        gap: 32px;
        width: 100%;
    }

    div.error-message {
        width: 100%;
    }

    section#define-product-backlog-item-form div.input-fields {
        gap: 16px;
    }

    div.submit-go-back {
        gap: 8px;
        width: 100%;
    }
}
