/* Container */
body {
    height: 100vh;
}

div.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Projects list */
section#projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--black5);
    padding: 64px 32px;
    flex: 1;
    overflow: scroll;
}

div#projects-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    /* Container */
    div.container {
        flex-direction: column;
        height: auto;
        min-height: 100%;
    }

    /* Projects list */
    section#projects-list {
        overflow: auto;
        gap: 24px;
        padding: 48px 32px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    /* Projects list */
    section#projects-list {
        gap: 16px;
        padding: 32px 16px;
    }
}
