/* Container */
div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    padding: 64px 0;
}

/* Hero */
section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

section#hero h1 {
    text-align: center;
    background: var(--brand-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#hero h3 {
    width: 640px;
    text-align: center;
}

/* Login Form */
section#login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

section#login-form div.input-fields {
    width: 1024px;
}

section#login-form label {
    display: block;
    margin-bottom: 8px;
}

section#login-form input:nth-child(2) {
    margin-bottom: 32px;
}

section#login-form button {
    width: 512px;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    /* Container */
    div.container {
        gap: 96px;
        padding: 48px 0;
    }

    /* Hero */
    section#hero {
        gap: 24px;
    }

    section#hero img {
        width: 64px;
        height: 64px;
    }

    section#hero h1 {
        width: 600px;
    }

    section#hero h3 {
        width: 512px;
    }

    /* Login Form */
    section#login-form form {
        gap: 48px;
    }

    section#login-form div.input-fields {
        width: 512px;
    }

    section#login-form input:nth-child(2) {
        margin-bottom: 32px;
    }

    section#login-form button {
        width: 256px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    /* Container */
    div.container {
        gap: 64px;
        padding: 32px 16px;
    }

    /* Hero */
    section#hero {
        gap: 16px;
    }

    section#hero h1 {
        width: 100%;
    }

    section#hero h3 {
        width: 100%;
    }

    /* Login Form */
    section#login-form {
        width: 100%;
    }

    section#login-form form {
        gap: 32px;
        width: 100%;
    }

    div.error-message {
        width: 100%;
    }

    section#login-form div.input-fields {
        width: 100%;
    }

    section#login-form input:nth-child(2) {
        margin-bottom: 16px;
    }

    section#login-form button {
        width: 100%;
    }
}
