/* Container */
body {
    height: 100vh;
}

div.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Project Details */
section#project-details {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--black5);
    padding: 64px 32px;
    flex: 1;
    overflow: scroll;
}

h1.project-title {
    background: var(--brand-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Details grid */
div.details-grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

div.details-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
}

div.detail-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex: 1;
    background-color: var(--white);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

div.card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.card-info > p {
    white-space: pre-line;
}

div.info-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.team-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

div.developers-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 192px;
    overflow: scroll;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    /* Container */
    div.container {
        flex-direction: column;
        height: auto;
        min-height: 100%;
    }

    /* Project Details */
    section#project-details {
        gap: 32px;
        padding: 48px 32px;
    }

    div.details-row {
        flex-direction: column;
        gap: 24px;
    }

    div.details-grid {
        gap: 24px;
    }

    div.detail-card > img {
        width: 48px;
        height: 48px;
    }

    div.team-info {
        flex-direction: row;
        gap: 32px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    /* Project Details */
    section#project-details {
        gap: 16px;
        padding: 32px 16px;
    }

    div.details-grid {
        gap: 16px;
    }

    div.details-row {
        gap: 16px;
    }

    div.detail-card {
        flex-direction: column;
        align-items: flex-start;
    }

    div.team-info {
        flex-direction: column;
        gap: 16px;
    }
}
