/* Container */
body {
    height: 100vh;
}

div.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Sprint details section */
section#sprint-details {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--black5);
    padding: 64px 32px;
    flex: 1;
}

section#sprint-details h1 {
    background: var(--brand-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

/* Details row */
div.details-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
}

div.card-info:has(div.info-group) {
    gap: 32px;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    /* Sprint details section */
    section#sprint-details {
        gap: 48px;
        padding: 48px 32px;
    }

    div.details-row {
        flex-direction: column;
        gap: 24px;
    }

    div.card-info:has(div.info-group) {
        flex-direction: row;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    section#sprint-details {
        gap: 32px;
        padding: 32px 16px;
    }

    div.card-info:has(div.info-group) {
        flex-direction: column;
        gap: 16px;
    }
}

