/* Container */
div.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Kanban board */
div#kanban-board {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--black5);
    flex: 1;
}

/* Kanban columns */
div.kanban-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 64px 32px;
    flex: 1;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    /* Kanban board */
    div#kanban-board {
        flex-direction: column;
        flex: 1;
    }

    /* Kanban columns */
    div.kanban-column {
        flex: none;
        width: 100%;
        padding: 48px 32px;
        gap: 24px;
        align-items: flex-start;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    /* Kanban columns */
    div.kanban-column {
        padding: 32px 16px;
        gap: 16px;
    }
}
