/* Container */
div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    padding: 64px 0;
}

/* Hero */
section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

section#hero h1 {
    text-align: center;
    background: var(--brand-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Update User Form */
section#update-user-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

section#update-user-form div.input-fields {
    width: 1024px;
}

section#update-user-form label {
    display: block;
    margin-bottom: 8px;
}

section#update-user-form input {
    border-radius: 8px;
    background-color: var(--black10);
    width: 100%;
    padding: 24px;
}

section#update-user-form input:not(:last-child) {
    margin-bottom: 32px;
}

section#update-user-form button {
    width: 512px;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    /* Container */
    div.container {
        gap: 96px;
        padding: 48px 0;
    }

    /* Hero */
    section#hero {
        gap: 24px;
    }

    section#hero img {
        width: 64px;
        height: 64px;
    }

    /* Update User Form */
    section#update-user-form form {
        gap: 48px;
    }

    section#update-user-form div.input-fields {
        width: 512px;
    }

    section#update-user-form input:not(:last-child) {
        margin-bottom: 24px;
    }

    section#update-user-form button {
        width: 288px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    /* Container */
    div.container {
        gap: 64px;
        padding: 32px 16px;
    }

    /* Hero */
    section#hero {
        gap: 16px;
    }

    /* Update User Form */
    section#update-user-form {
        width: 100%;
    }

    section#update-user-form form {
        gap: 32px;
        width: 100%;
    }

    div.error-message {
        width: 100%;
    }

    section#update-user-form div.input-fields {
        width: 100%;
    }

    section#update-user-form input:not(:last-child) {
        margin-bottom: 16px;
    }

    section#update-user-form button {
        width: 100%;
    }
}
