div.product-backlog-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    background-color: var(--white);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    width: 100%;
}

div.product-backlog-item-information {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
}

div.status-description-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.info-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.info-group p {
    white-space: pre-line;
}

div.edit-delete-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
}

div.edit-delete-buttons a.edit-button,
div.edit-delete-buttons a.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
}

div.edit-delete-buttons a.edit-button {
    border: solid 3px var(--secondary-color);
}

div.edit-delete-buttons a.delete-button {
    border: solid 3px var(--error);
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    div.product-backlog-item-information {
        gap: 24px;
    }

    a.edit-button img,
    a.delete-button img {
        height: 24px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {

    div.product-backlog-list-item {
        flex-direction: column;
        align-items: flex-start;
    }

    div.product-backlog-item-information {
        gap: 16px;
    }

    div.edit-delete-buttons {
        flex-direction: row;
        gap: 8px;
    }

}
