button.submit-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--primary-color);
    padding: 16px 24px;
    color: var(--white);
    box-shadow: 0 4px 24px rgb(196, 196, 196);
}

button.submit-button img {
    width: 32px;
    height: 32px;
}

button.submit-button:hover {
    gap: 8px;
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    button.submit-button img {
        width: 24px;
        height: 24px;
    }
}
