div.users-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    align-items: center;
}

div.users-list-item h2 {
    margin-bottom: 32px;
}

div.users-list-item div.person-information label {
    margin-bottom: 4px;
}

div.users-list-item div.person-information p {
    margin-bottom: 16px;
}

div.users-list-item div.promote-edit-delete-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

div.users-list-item a.promote-button,
div.users-list-item a.demote-button,
div.users-list-item a.edit-button,
div.users-list-item a.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
}

div.users-list-item a.promote-button,
div.users-list-item a.demote-button {
    border: solid 3px var(--primary-color);
}

div.users-list-item a.demote-button img {
    transform: rotate(180deg);
}

div.users-list-item a.edit-button {
    border: solid 3px var(--secondary-color);
}

div.users-list-item a.delete-button {
    border: solid 3px var(--error);
}

/* 1200px - 600px */
@media screen and (max-width: 1200px) {
    section#users-list div.users-list-item h2 {
        margin-bottom: 24px;
    }

    section#users-list div.users-list-item a.promote-button img,
    section#users-list div.users-list-item a.demote-button img,
    section#users-list div.users-list-item a.edit-button img,
    section#users-list div.users-list-item a.delete-button img {
        height: 24px;
    }
}

/* < 600px */
@media screen and (max-width: 600px) {
    section#users-list div.users-list-item {
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        padding: 16px;
        align-items: start;
    }

    section#users-list div.users-list-item h2 {
        margin-bottom: 16px;
    }

    section#users-list div.users-list-item div.person-information p {
        margin-bottom: 8px;
    }

    section#users-list div.users-list-item div.promote-edit-delete-buttons {
        flex-direction: row;
        gap: 8px;
        justify-content: start;
    }
}
