<p th:if="${#lists.isEmpty(productBacklog)}">No product backlog items found!</p>
<div th:id="|product-backlog-item-*{productBacklogItemId}|"
     th:fragment="product-backlog-list-item"
     class="product-backlog-list-item"
     th:each="productBacklogItem : ${productBacklog}"
     th:object="${productBacklogItem}"
     xmlns:hx="http://www.w3.org/1999/xhtml">
    <div class="product-backlog-item-information">
        <h2 th:text="*{title}">Title</h2>
        <div class="status-description-information">
            <div class="info-group">
                <label>Status</label>
                <p th:text="*{status.displayName}">In backlog</p>
            </div>
            <div class="info-group">
                <label>Description</label>
                <p th:text="*{description}">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="edit-delete-buttons">
        <a class="btn edit-button"
           th:if="${authenticatedTeamMember.isProductOwner() && !productBacklogItem.status.isCommitedToSprint()}"
           th:href="@{/projects/{projectId}/backlog/{productBacklogItemId}/update(projectId=*{projectId}, productBacklogItemId=*{productBacklogItemId})}">
            <img th:src="@{/assets/svg/edit.svg}" alt="Edit">
        </a>
        <a class="btn delete-button"
           th:if="${authenticatedTeamMember.isProductOwner() && !productBacklogItem.status.isCommitedToSprint()}"
           hx:delete="@{/projects/{projectId}/backlog/{productBacklogItemId}/delete(projectId=*{projectId}, productBacklogItemId=*{productBacklogItemId})}"
           hx-trigger="click"
           hx-swap="delete"
           hx:target="|#product-backlog-item-*{productBacklogItemId}|">
            <img th:src="@{/assets/svg/trash.svg}" alt="Trash">
        </a>
    </div>
</div>
