<p th:if="${#lists.isEmpty(projects)}">No projects found!</p>
<div th:fragment="project-list-item" th:each="project : ${projects}" th:object="${project}" class="projects-list-item">
    <div class="project-information">
        <h2 th:text="*{projectName}">Project name</h2>
        <div class="user-count">
            <img th:src="@{/assets/svg/user.svg}" alt="User">
            <p th:text="*{#lists.size(developerIds)}">0</p>
        </div>
    </div>
    <div class="details-edit-delete-buttons">
        <a class="btn details-button"
           th:href="@{/projects/{projectId}(projectId=*{projectId})}"
           th:if="${project.scrumMasterId == authenticatedUser.userId || project.productOwnerId == authenticatedUser.userId || #lists.contains(project.developerIds, authenticatedUser.userId)}">
            <img th:src="@{/assets/svg/arrow-primary.svg}" alt="Arrow">
        </a>
        <a class="btn edit-button" th:if="${authenticatedUser.role.isManager()}">
            <img th:src="@{/assets/svg/edit.svg}" alt="Edit">
        </a>
        <a class="btn delete-button" th:if="${authenticatedUser.role.isManager()}">
            <img th:src="@{/assets/svg/trash.svg}" alt="Trash">
        </a>
    </div>
</div>
