<div th:fragment="sprint-backlog-item"
     class="sprint-backlog-item"
     th:each="sprintBacklogItem : ${sprintBacklogItems}"
     th:object="${sprintBacklogItem}"
     th:id="|item-*{productBacklogItemId}|"
     xmlns:hx="http://www.w3.org/1999/xhtml"
     xmlns:hx-on="http://www.w3.org/1999/xhtml">
    <h4 th:text="*{title}">Item Title</h4>
    <div class="info-group" th:if="*{assignedDeveloper != null}">
        <label>Assigned to</label>
        <p th:text="*{assignedDeveloper.fullName}">Team member</p>
    </div>
    <div class="info-group">
        <label>Description</label>
        <p th:text="*{description}">Item description goes here.</p>
    </div>
    <div class="move-buttons" th:if="*{canBeMoved}">
        <button class="move-left-button"
                th:if="${sprintBacklogItem.status.canMoveLeft && authenticatedTeamMember != null && authenticatedTeamMember.isDeveloper()}"
                hx:target="|#*{status.columnLeft}|"
                hx-swap="beforeend"
                hx:put="@{/projects/{projectId}/sprints/{sprintId}/move-backlog-item/{productBacklogItemId}(projectId=*{projectId}, sprintId=*{sprintId}, productBacklogItemId=*{productBacklogItemId}, moveDirection='LEFT')}"
                hx-trigger="click"
                hx-on::after-request="this.closest('.sprint-backlog-item').remove()">
            <img th:src="@{/assets/svg/arrow-primary.svg}" alt="Move left" class="arrow-left">
        </button>
        <button class="move-right-button"
                th:if="${sprintBacklogItem.status.canMoveRight && authenticatedTeamMember != null && authenticatedTeamMember.isDeveloper()}"
                hx:target="|#*{status.columnRight}|"
                hx-swap="beforeend"
                hx:put="@{/projects/{projectId}/sprints/{sprintId}/move-backlog-item/{productBacklogItemId}(projectId=*{projectId}, sprintId=*{sprintId}, productBacklogItemId=*{productBacklogItemId}, moveDirection='RIGHT')}"
                hx-trigger="click"
                hx-on::after-request="this.closest('.sprint-backlog-item').remove()">
            <img th:src="@{/assets/svg/arrow-primary.svg}" alt="Move right" class="arrow-right">
        </button>
    </div>
</div>
