<p th:if="${#lists.isEmpty(users)}">No users found!</p>
<div th:fragment="users-list-item" th:each="user : ${users}" th:object="${user}" class="users-list-item">
    <div class="user-information">
        <h2 th:text="*{username}">Username</h2>
        <div class="person-information">
            <label>Name</label>
            <p th:text="*{fullName}">Thomas Boigner</p>
            <label>E-mail</label>
            <p th:text="*{emailAddress}">thomasboigner@gmail.com</p>
            <label>Role</label>
            <p th:text="*{role.displayName}">User</p>
        </div>
    </div>
    <div class="promote-edit-delete-buttons">
        <button class="promote-button" th:if="${authenticatedUser.role.isManager()}">
            <img th:src="@{/assets/svg/arrow-primary.svg}" alt="Promote">
        </button>
        <button class="edit-button" th:if="${authenticatedUser.role.isManager()}">
            <img th:src="@{/assets/svg/edit.svg}" alt="Edit">
        </button>
        <button class="delete-button" th:if="${authenticatedUser.role.isManager()}">
            <img th:src="@{/assets/svg/trash.svg}" alt="Trash">
        </button>
    </div>
</div>