<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/head :: head(~{::title}, ~{::link})}">
    <title>Create a project</title>
    <link rel="stylesheet" th:href="@{/css/pages/create-project.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/developer-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Plan a new Project!</h1>
    </section>
    <section id="project-form">
        <form method="post" th:action="@{/projects/create}" th:object="${createProjectForm}">
            <div th:replace="~{fragments/error-message :: form-errors}"></div>
            <div class="input-fields">
                <label for="project-name">Project name:</label>
                <input type="text" id="project-name" th:field="*{projectName}" placeholder="Enter the project name!">
                <label for="product-owner">Product Owner:</label>
                <select id="product-owner" th:field="*{productOwnerId}">
                    <option value="">Select a product owner!</option>
                    <option th:each="user : ${users}"
                            th:value="${user.userId}"
                            th:text="${user.fullName}"></option>
                </select>
                <label for="scrum-master">Scrum Master:</label>
                <select id="scrum-master" th:field="*{scrumMasterId}">
                    <option value="">Select a scrum master!</option>
                    <option th:each="user : ${users}"
                            th:value="${user.userId}"
                            th:text="${user.fullName}"></option>
                </select>
            </div>
            <div id="developers">
                <h4>Select the Developers:</h4>
                <div class="developer-item-list">
                    <p hx:get="@{/projects/developer-list(developerIds=*{developerIds})}"
                       hx-trigger="load"
                       hx-swap="outerHTML">Could not load users!</p>
                </div>
            </div>
            <button type="submit">
                Create Project
                <img th:src="@{/assets/svg/plus.svg}" alt="plus">
            </button>
        </form>
    </section>
</div>
</body>
</html>
