<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>List Projects</title>
    <link rel="stylesheet" th:href="@{/css/pages/list-projects.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/main-header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/search-input.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/floating-action-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/project-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/main-header :: main-header('projects')}"></header>
    <section id="projects-list">
        <div th:replace="~{fragments/search-input :: search-input(searchUrl=@{/projects/list}, searchTarget='#projects-list-items')}"></div>
        <div id="projects-list-items" hx:get="@{/projects/list}" hx-trigger="load" hx-swap="innerHTML">
            <p>Could not load projects!</p>
        </div>

        <th:block th:if="${authenticatedUser != null && authenticatedUser.role.isManager()}">
            <a th:replace="~{fragments/floating-action-button :: floating-action-button(@{/projects/create}, 'plus.svg', 'Plus', 'primary')}"></a>
        </th:block>
    </section>
</div>
</body>
</html>