<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>List Users</title>
    <link rel="stylesheet" th:href="@{/css/pages/list-users.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/main-header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/search-input.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/users-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/main-header :: main-header('users')}"></header>
    <section id="users-list">
        <div th:replace="~{fragments/search-input :: search-input}"></div>
        <p hx:get="@{/users/list}" hx-trigger="load" hx-swap="outerHTML">Could not load users!</p>
        <a th:if="${authenticatedUser != null && authenticatedUser.role.isManager()}" class="create-button" th:href="@{/users/register}">
            <img th:src="@{/assets/svg/plus.svg}" alt="Plus">
        </a>
    </section>
</div>
</body>
</html>