<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>List Sprints</title>
    <link rel="stylesheet" th:href="@{/css/pages/list-sprints.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/scrum-header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/search-input.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/sprint-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body th:object="${project}">
<div class="container">
    <header th:replace="~{fragments/scrum-header :: scrum-header(${project.projectId}, 'sprints')}"></header>

    <section id="sprint-list">
        <div th:replace="~{fragments/search-input :: search-input}"></div>
        <p hx:get="@{/projects/{projectId}/sprints/list(projectId=*{projectId})}" hx-trigger="load" hx-swap="outerHTML">Could not load sprints!</p>
    </section>
</div>
</body>
</html>