<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Backlog</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/svg/logo.svg}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/pages/list-product-backlog.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/product-backlog-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script type="application/javascript" th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.js}"></script>
</head>
<body th:object="${project}">
<div class="container">
    <header id="scrum-header">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <nav>
            <a class="btn" th:href="@{/projects/{id}(id=*{projectId})}">
                <img th:src="@{/assets/svg/sticky.svg}" alt="Sticky">
                Details
            </a>
            <a class="btn selected" th:href="@{/projects/{id}/backlog(id=*{projectId})}">
                <img th:src="@{/assets/svg/list-white.svg}" alt="List">
                Backlog
            </a>
            <a class="btn" th:href="@{/projects/{id}/sprints(id=*{projectId})}">
                <img th:src="@{/assets/svg/rotate.svg}" alt="Rotate">
                Sprints
            </a>
        </nav>
    </header>

    <section id="product-backlog">
        <div class="search-input">
            <label for="search"><img th:src="@{/assets/svg/search.svg}" alt="Search"></label>
            <input type="text" id="search" placeholder="Search">
        </div>
        <p hx:get="@{/projects/{id}/backlog/list(id=*{projectId})}" hx-trigger="load" hx-swap="outerHTML">Could not load product backlog!</p>
        <a th:if="${authenticatedTeamMember.isProductOwner()}" class="add-button" th:href="@{/projects/{id}/backlog/define(id=*{projectId})}">
            <img th:src="@{/assets/svg/plus.svg}" alt="Add">
        </a>
    </section>
</div>
</body>
</html>