<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Users</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/svg/logo.svg}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/pages/list-users.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/users-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script type="application/javascript" th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.js}"></script>
</head>
<body>
<div class="container">
    <header id="main-header">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <nav>
            <a class="btn" th:href="@{/projects}">
                <img th:src="@{/assets/svg/project.svg}" alt="Project">
                Projects
            </a>
            <a class="btn selected" th:href="@{/users}">
                <img th:src="@{/assets/svg/user-white.svg}" alt="User">
                Users
            </a>
            <a class="btn" hx:post="@{/logout}">
                <img th:src="@{/assets/svg/exit.svg}" alt="Exit">
                Logout
            </a>
        </nav>
    </header>
    <section id="users-list">
        <div class="search-input">
            <label for="search-input"><img th:src="@{/assets/svg/search.svg}" alt="Search"></label>
            <input type="text" name="search-input" id="search-input" placeholder="Search">
        </div>
        <p hx:get="@{/users/list}" hx-trigger="load" hx-swap="outerHTML">Could not load users!</p>
        <a th:if="${authenticatedUser.role.isManager()}" class="create-button" th:href="@{/users/register}">
            <img th:src="@{/assets/svg/plus.svg}" alt="Plus">
        </a>
    </section>
</div>
</body>
</html>