<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/pages/login.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/form-field.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/submit-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        <h1>Welcome back to OpenScrum!</h1>
        <h3>Log into your account and continue working</h3>
    </section>
    <section id="login-form">
        <form th:action="@{/login}" method="post">
            <th:block th:if="${param.error}" th:with="errorMessage='Invalid username and password.'">
                <div th:replace="~{fragments/error-message :: error-message}"></div>
            </th:block>
            <div class="input-fields">
                <th:block th:replace="~{fragments/form-field :: text-field('username', 'Username:', 'username', null, 'Enter your username!')}"></th:block>
                <th:block th:replace="~{fragments/form-field :: password-field('password', 'Password:', 'password', 'Enter your password!')}"></th:block>
            </div>
            <button th:replace="~{fragments/submit-button :: submit-button('Login', 'arrow-white.svg', 'arrow right')}"></button>
        </form>
    </section>
</div>
</body>
</html>
