<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plan the sprint</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/svg/logo.svg}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/pages/plan-sprint.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Sprint Planning</h1>
        <h3>Plan the next sprint, decide what should be done!</h3>
    </section>
    <section id="plan-sprint-form">
        <form method="post">
            <div class="error-message">
                <img th:src="@{/assets/svg/exclamation-mark.svg}" alt="exclamation mark">
                <p>Error while defining product backlog item!</p>
                <div>
                    <p>Validation error while defining product backlog item!</p>
                </div>
            </div>

            <div id="input-fields">
                <div id="sprint-goal">
                    <label for="sprint-goal-input">Sprint Goal</label>
                    <textarea id="sprint-goal-input" name="sprintGoal"
                              placeholder="Describe the goal of this sprint!"></textarea>
                </div>
                <div id="sprint-backlog-items">
                    <div class="product-backlog-item">
                        <input id="select-backlog-item" type="checkbox">
                        <div class="backlog-item-info">
                            <h2>
                                <label for="select-backlog-item">Item Title</label>
                            </h2>
                            <div class="info-group">
                                <label>Description</label>
                                <p>Item description goes here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-go-back">
                <button type="submit">
                    Commit to sprint
                    <img th:src="@{/assets/svg/check-white.svg}" alt="check">
                </button>
                <p>Changed your mind? Go <a>back</a>!</p>
            </div>
        </form>
    </section>
</div>
</body>
</html>
