<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Plan the sprint</title>
    <link rel="stylesheet" th:href="@{/css/pages/plan-sprint.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/form-field.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/submit-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/sprint-planning-product-backlog-list-item.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Sprint Planning</h1>
        <h3>Plan the next sprint, decide what should be done!</h3>
    </section>
    <section id="plan-sprint-form">
        <form th:action="@{/projects/{projectId}/sprints/{sprintId}/planning(projectId=${sprint.projectId}, sprintId=${sprint.sprintId})}" th:object="${planSprintForm}" method="post">
            <div th:replace="~{fragments/error-message :: form-errors}"></div>

            <div id="input-fields">
                <div id="sprint-goal">
                    <th:block th:replace="~{fragments/form-field :: textarea-field('sprint-goal-input', 'Sprint Goal:', 'sprintGoal', *{sprintGoal}, 'Describe the goal of this sprint!')}"></th:block>
                </div>
                <div id="sprint-backlog-items">
                    <p hx:get="@{/projects/{projectId}/backlog/sprint-planning-list(projectId=${sprint.projectId}, productBacklogIds=*{productBacklogIds})}" hx-trigger="load" hx-swap="outerHTML">Could not load product backlog items!</p>
                </div>
            </div>
            <div class="submit-go-back">
                <button th:replace="~{fragments/submit-button :: submit-button('Commit', 'check-white.svg', 'check')}"></button>
                <p>Changed your mind? Go <a th:href="@{/projects/{projectId}/sprints/{sprintId}(projectId=${sprint.projectId}, sprintId=${sprint.sprintId})}">back</a>!</p>
            </div>
        </form>
    </section>
</div>
</body>
</html>
