<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head(~{::title}, ~{::link})}">
    <title>Register a user</title>
    <link rel="stylesheet" th:href="@{/css/pages/register-user.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Register a user!</h1>
    </section>
    <section id="registration-form" >
        <form th:action="@{/users/register}" th:object="${registerUserForm}" method="post">
            <div th:replace="~{fragments/error-message :: form-errors}"></div>
            <div class="input-fields">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter the username!" th:field="*{username}">
                <label for="first-name">First name:</label>
                <input type="text" name="first-name" id="first-name" placeholder="Enter the first name!" th:field="*{firstName}">
                <label for="last-name">Last name:</label>
                <input type="text" name="first-name" id="last-name" placeholder="Enter the last name!" th:field="*{lastName}">
                <label for="email-address">Email address:</label>
                <input type="text" name="email-address" id="email-address" placeholder="Enter the email address!" th:field="*{email}">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter the password!" th:field="*{password}">
            </div>
            <button type="submit">
                Register
                <img th:src="@{/assets/svg/plus.svg}" alt="plus">
            </button>
        </form>
    </section>
</div>
</body>
</html>