<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Sprint details page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/pages/sprint-details-page.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/sprint-header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/back-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/floating-action-button.css}">
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/sprint-header :: sprint-header(${sprint}, 'details')}"></header>

    <section id="sprint-details" th:fragment="sprint-details" th:object="${sprint}">
        <h1 th:text="*{sprintName}">Sprint Name</h1>

        <div class="details-row">
            <div class="detail-card">
                <img th:src="@{/assets/svg/calendar.svg}" alt="Calendar">
                <div class="card-info">
                    <div class="info-group">
                        <label>Start Date</label>
                        <p th:text="*{#temporals.format(startDate, 'dd.MM.yyyy')}">01.01.2020</p>
                    </div>
                    <div class="info-group">
                        <label>End Date</label>
                        <p th:text="*{#temporals.format(endDate, 'dd.MM.yyyy')}">01.02.2020</p>
                    </div>
                    <div class="info-group">
                        <label>Status</label>
                        <p th:text="*{status.displayName}">In progress</p>
                    </div>
                </div>
            </div>

            <div class="detail-card" th:if="*{sprintGoal != null}">
                <img th:src="@{/assets/svg/flag-checkered.svg}" alt="Flag">
                <div class="card-info">
                    <label>Sprint Goal</label>
                    <p th:text="*{sprintGoal}">Sprint Goal text</p>
                </div>
            </div>
        </div>

        <th:block th:if="${authenticatedTeamMember.isScrumMaster() && !sprint.status.isPlanned()}">
            <a th:replace="~{fragments/floating-action-button :: floating-action-button(@{/projects/{projectId}/sprints/{sprintId}/planning(projectId=*{projectId}, sprintId=*{sprintId})}, 'gear.svg', 'Gear', 'primary')}"></a>
        </th:block>
    </section>
</div>
</body>
</html>
