<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Update a product backlog item</title>
    <link rel="stylesheet" th:href="@{/css/pages/update-product-backlog-item.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/form-field.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/submit-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Update the product backlog item!</h1>
        <h3>Redefine the work that needs to be done</h3>
    </section>
    <section id="update-product-backlog-item-form">
        <form method="post" th:action="@{/projects/{projectId}/backlog/{productBacklogItemId}/update(projectId=${project.projectId}, productBacklogItemId=${productBacklogItemId})}" th:object="${updateProductBacklogItemForm}">
            <div th:replace="~{fragments/error-message :: form-errors}"></div>
            <div class="input-fields">
                <div class="label-input">
                    <th:block th:replace="~{fragments/form-field :: text-field('title', 'Title', 'title', *{title}, 'Update the title of the product backlog item!')}"></th:block>
                </div>
                <div class="label-input">
                    <th:block th:replace="~{fragments/form-field :: textarea-field('description', 'Description', 'description', *{description}, 'Update the description to the product backlog item!')}"></th:block>
                </div>
            </div>
            <div class="submit-go-back">
                <button th:replace="~{fragments/submit-button :: submit-button('Update item', 'check-white.svg', 'check')}"></button>
                <p>Changed your mind? Go <a th:href="@{/projects/{projectId}/backlog(projectId=${project.projectId})}">back</a>!</p>
            </div>
        </form>
    </section>
</div>
</body>
</html>
