<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Update a user</title>
    <link rel="stylesheet" th:href="@{/css/pages/update-user.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/submit-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Update the User!</h1>
    </section>
    <section id="update-user-form">
        <form method="post" th:action="@{/users/{userId}/update(userId=${userId})}" th:object="${updateUserForm}">
            <div th:replace="~{fragments/error-message :: form-errors}"></div>
            <div class="input-fields">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Update the username!" th:field="*{username}">
                <label for="first-name">First name:</label>
                <input type="text" id="first-name" placeholder="Update the first name!" th:field="*{firstName}">
                <label for="last-name">Last name:</label>
                <input type="text" id="last-name" placeholder="Update the last name!" th:field="*{lastName}">
                <label for="email-address">Email address:</label>
                <input type="text" id="email-address" placeholder="Update the email address!" th:field="*{email}">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Update the password!" th:field="*{password}">
            </div>
            <button th:replace="~{fragments/submit-button :: submit-button('Update the User', 'check-white.svg', 'check')}"></button>
        </form>
    </section>
</div>
</body>
</html>
