<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Update a user</title>
    <link rel="stylesheet" th:href="@{/css/pages/update-user.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/form-field.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/submit-button.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>Update the User!</h1>
    </section>
    <section id="update-user-form">
        <form method="post" th:action="@{/users/{userId}/update(userId=${userId})}" th:object="${updateUserForm}">
            <div th:replace="~{fragments/error-message :: form-errors}"></div>
            <div class="input-fields">
                <th:block th:replace="~{fragments/form-field :: text-field('username', 'Username:', 'username', *{username}, 'Update the username!')}"></th:block>
                <th:block th:replace="~{fragments/form-field :: text-field('first-name', 'First name:', 'firstName', *{firstName}, 'Update the first name!')}"></th:block>
                <th:block th:replace="~{fragments/form-field :: text-field('last-name', 'Last name:', 'lastName', *{lastName}, 'Update the last name!')}"></th:block>
                <th:block th:replace="~{fragments/form-field :: text-field('email-address', 'Email address:', 'email', *{email}, 'Update the email address!')}"></th:block>
                <th:block th:replace="~{fragments/form-field :: password-field('password', 'Password:', 'password', 'Update the password!')}"></th:block>
            </div>
            <button th:replace="~{fragments/submit-button :: submit-button('Update the User', 'check-white.svg', 'check')}"></button>
        </form>
    </section>
</div>
</body>
</html>
