<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head(~{::title}, ~{::link})}">
    <title>Bad request</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/error/400.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>400 - Bad request!</h1>
        <h3>We could not process your request, please check your input</h3>
    </section>

    <a class="btn" th:href="@{/projects}">
        <img th:src="@{/assets/svg/arrow-white.svg}" alt="Arrow">
        Go Back
    </a>
</div>
</body>
</html>