<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Page not found</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/error/404.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/back-button.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>404 - Page not found!</h1>
        <h3>We could not find the requested page</h3>
    </section>

    <a th:replace="~{fragments/back-button :: back-button(@{/projects}, 'Go Back')}"></a>
</div>
</body>
</html>