<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title}, ~{::link})}">
    <title>Internal server error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/error/500.css}">
</head>
<body>
<div class="container">
    <section id="hero">
        <a th:href="@{/projects}">
            <img th:src="@{/assets/svg/logo.svg}" alt="Logo">
        </a>
        <h1>500 - Internal server error!</h1>
        <h3>Something on our end went wrong, please try again later</h3>
    </section>

    <a class="btn" th:href="@{/projects}">
        <img th:src="@{/assets/svg/arrow-white.svg}" alt="Arrow">
        Go Back
    </a>
</div>
</body>
</html>